<html>
  <head>
    <title><%=title %></title>
  </head>
  <body>
    <h1>Почему не нужно использовать Express вместе с Next.js</h1>
    Потому что Next.js умеет всё что умеет Express только лучше.
    <br/>Express Version: <%=expressVersion%>
  </body>
</html>